.header-bottom-wrapper {
    display: none;
}

.third-wrapper {
    display: none;
}

.logo {
    padding-left: 20px;
}

.topmenu-ul {
    padding-left: 0;
}

.top-menu {
    float: none;
}

.topmenu-ul li {

    padding: 0 10px;
}

.cart-signin-wrapper {
    display: none;
}

.burger-icon {
    padding: 0;
}

.htu-right-wrapper {
    width: 90%;
}

.htl-right-wrapper {
    display: none;
}

.first-wrapper {

    width: 100%;
    line-height: 32px;
    padding: 10px 0 10px 0;
}

.fw-left,
.fw-right {
    display: none;
}

.fw-middle {
    width: 100%;
}

.individual {
    margin: 0 10px 10px 0;
}

.first-row,
.second-row,
.third-row,
.fourth-row {
    margin-bottom: 10px;
}


.nest-learning {
    display: none;
}

.jbl-wrapper {
    display: none;
}

.i-third,
.withings {
    display: none;
}


.bs4,
.bs3 {
    display: none;
}

.all-bs li {

    width: 50%;
}

.entry3 {
    display: none;
}

.testimonial-entry {
    width: 45%;
}

.customer-say {
    padding: 20px 0 5px 0;
}

.list-of-testimonials {
    padding: 10px 0;
}



.htl-left-wrapper {

    border-right: none;
}

.free-div {
    padding: 10px 5px;
}








.bottom-lower {
    display: none;
}

.bottom-upper {
    padding: 10px 0;
}

.bottom-menu {
    padding: 0 30px;
}

.left-column {
    padding-left: 10px;
}

.fourth-wrapper {
    margin-bottom: 20px;
}

.bottom-logo {
    padding-left: 20px;
}